*
  ,*:before
  ,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
*::selection{background-color:#009688;}
body{font-family:"microsoft yahei";padding:0;margin:0;}
p,a{padding:0;margin:0}
a:active
  ,a:hover{outline:0;}
a{color:#fff;text-decoration:none;}
a:hover{}

.mainContent .logo{top:6%;left:17%;width:215px;height:58px;position:absolute;background:url(../../images/recordVideo/recordVideo_p_002.png);}
.mainContent .bgImg{width:100%;height:100%;}
.mainContent .textDiv{top:0;width:100%;margin:0 auto;}
.mainContent .textDiv>span{top:20%;left:17%;width:70%;font-size:8em;text-decoration:none;font-family:"microsoft yahei";cursor:default;text-align:left;position:absolute;font-weight:600;color:#fff;}

.mainContent .textDiv>span:before
  ,.mainContent .textDiv>span:after{content:'';position:absolute;background-color:rgba(255,255,255,0.8);width:46px;height:65px;left:-46px;top:0;}
.mainContent .textDiv>span:before{-webkit-clip-path:polygon(0 35%,100% 43%,100% 100%);clip-path:polygon(0 35%,100% 43%,100% 100%);}
.mainContent .textDiv>span:after{-webkit-clip-path:polygon(13% 0,100% 43%,100% 100%);clip-path:polygon(13% 0,100% 43%,100% 100%);}
.mainContent .textDiv>span:hover:before{-webkit-animation:voavoa .1s infinite linear;-moz-animation:voavoa .1s infinite linear;animation:voavoa .1s infinite linear;}
.mainContent .textDiv>span:hover:after{-webkit-animation:voavoa2 .1s infinite linear;-moz-animation:voavoa2 .1s infinite linear;animation:voavoa2 .1s infinite linear;}

@font-face{font-family:my-iconfont;src:url('../../fonts/MYoungHK-Xbold.otf');src:url('../../fonts/MYoungHK-Xbold.otf?#iefix') format('embedded-opentype'),url('../../fonts/MYoungHK-Xbold.otf') format('woff'),url('../../fonts/MYoungHK-Xbold.otf') format('truetype'),url('../../fonts/MYoungHK-Xbold.otf#tm-iconfont') format('svg');src:url('../../fonts/MYoungHK-Xbold.otf')\0;}

@-webkit-keyframes voavoa {
  from {
    -webkit-clip-path: polygon(0 35%, 100% 43%, 100% 100%);
    clip-path: polygon(0 35%, 100% 43%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(13% 0, 100% 43%, 100% 100%);
    clip-path: polygon(13% 0, 100% 43%, 100% 100%);
  }
}
@-moz-keyframes voavoa {
  from {
    -webkit-clip-path: polygon(0 35%, 100% 43%, 100% 100%);
    clip-path: polygon(0 35%, 100% 43%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(13% 0, 100% 43%, 100% 100%);
    clip-path: polygon(13% 0, 100% 43%, 100% 100%);
  }
}
@keyframes voavoa {
  from {
    -webkit-clip-path: polygon(0 35%, 100% 43%, 100% 100%);
    clip-path: polygon(0 35%, 100% 43%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(13% 0, 100% 43%, 100% 100%);
    clip-path: polygon(13% 0, 100% 43%, 100% 100%);
  }
}
@-webkit-keyframes voavoa2 {
  from {
    -webkit-clip-path: polygon(13% 0, 100% 43%, 100% 100%);
    clip-path: polygon(13% 0, 100% 43%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 45%, 100% 43%, 100% 100%);
    clip-path: polygon(0 45%, 100% 43%, 100% 100%);
  }
}
@-moz-keyframes voavoa2 {
  from {
    -webkit-clip-path: polygon(13% 0, 100% 43%, 100% 100%);
    clip-path: polygon(13% 0, 100% 43%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 45%, 100% 43%, 100% 100%);
    clip-path: polygon(0 45%, 100% 43%, 100% 100%);
  }
}
@keyframes voavoa2 {
  from {
    -webkit-clip-path: polygon(13% 0, 100% 43%, 100% 100%);
    clip-path: polygon(13% 0, 100% 43%, 100% 100%);
  }
  to {
    -webkit-clip-path: polygon(0 45%, 100% 43%, 100% 100%);
    clip-path: polygon(0 45%, 100% 43%, 100% 100%);
  }
}